.item{
     width: 350px;    
}
.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* soft shadow */
  transition: box-shadow 0.3s ease;           /* smooth hover effect */
}

.item:hover img {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* stronger shadow on hover */
}

.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
    margin-right: 55%;
    
}
.item-price-new{
    color:#374151;
    font-size: 14px;
    font-weight: 6000;

}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;

}
@media (max-width: 480px) {
  .item {
    width: 150px;
  }

  .item-name {
    font-size: 13px;
  }

  .item-price-new {
    font-size: 13px;
  }

  .item-price-old {
    font-size: 11px;
  }
}



