.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-left: 18%;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    
}
.newsletter h1{
     color: #454545;
     font-size: 40px;
     font-weight: 600;
     margin-bottom: 40px;
     

}
.newsletter p{
    color:#454545;
    font-size: 20px;
    margin-bottom: 10px;
}
.newsletter  div{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: white;
   width: 600px;
   height: 50px;
   border-radius: 80px;
   border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 400px;
    margin-left:30px;
    border: none;
    outline: none;
    color:#616161;
    font-family: poppins;
    font-size: 13px;
    
}
 .newsletter div button{
      width: 150px;
      height: 40px;
      border-radius: 80px;
      background: black;
      color: white;
      font-size: 16px;
      cursor: pointer;
      margin-right: 1%;
 }
@media screen and (max-width: 600px) {
  .newsletter {
    width: 87%;
    margin: 20px auto 60px;
    padding: 10px 5px;
    height: auto;
  }

  .newsletter h1 {
    font-size: 24px;
    text-align: center;
  }

  .newsletter p {
    font-size: 14px;
    text-align: center;
  }
.newsletter  div{
    width: 95%;
}
  .newsletter input {
    font-size: 13px;

  }

  .input-box button {
    width: 100px;
    font-size: 13px;
  }
}
