.footer{
    display: flex;
     flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      background-color: rgb(234, 195, 225);
       
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #383838;
    font-size: 30px;
    font-weight: 7000;

}
.footer-links{
     display: flex;
     list-style: none;
     gap: 50px;
     color: #252525;
     font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-socials-icon{
    display: flex;
    gap :20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    cursor: pointer;

}
.footer-icons-container:hover{
    background:#c7c7c7;
}
.footer-icons-container img{
    width: 20px;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px; 
    height: 3px;
    background: #c7c7c7;
}
@media (max-width: 480px) {
  .footer {
    padding: 30px 15px;
    gap: 20px;
    
  }

  .footer-logo img {
    width: 60px;
  }

  .footer-logo p {
    font-size: 18px;
  }

  .footer-links {
    display: flex;
    gap: 15px;
    margin-left: -30px;
    
  }

  .footer-links li {
    font-size: 15px;
  }

  .footer-socials-icon {
    gap: 12px;
  }

  .footer-icons-container {
    padding: 8px;
    
  }

  .footer-icons-container img {
    width: 18px;
    height: 18px;
  }

  .footer-copyright {
    font-size: 12px;
    padding-top: 10px;
  }
}
